In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data-tim-12.csv')
df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,APARTMENT NUMBER,ZIP CODE,COMMERCIAL UNITS,...,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,STAT BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,OWNED BY,SALE PRICE,SALE YEAR,SALE DATE
0,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,153 AVENUE B,NaN,10009,0,...,1633,6440,1900,OLD,2,C2,PURCHASE,6625000,2017,7/19/2017
1,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,234 EAST 4TH STREET,NaN,10009,3,...,4616,18690,1900,OLD,2,C7,INHERIT,0,2016,12/14/2016
2,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,197 EAST 3RD STREET,NaN,10009,1,...,2212,7803,1900,OLD,2,C7,INHERIT,0,2016,12/9/2016
3,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,154 EAST 7TH STREET,NaN,10009,0,...,2272,6794,1913,OLD,2,C4,PURCHASE,3936272,2016,9/23/2016
4,MANHATTAN,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,301 EAST 10TH STREET,NaN,10009,0,...,2369,4615,1900,OLD,2,C2,PURCHASE,8000000,2016,11/17/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76840,STATEN ISLAND,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,37 QUAIL LANE,NaN,10309,0,...,2400,2575,1998,OLD,1,B9,PURCHASE,450000,2016,11/28/2016
76841,STATEN ISLAND,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,32 PHEASANT LANE,NaN,10309,0,...,2498,2377,1998,OLD,1,B9,PURCHASE,550000,2017,4/21/2017
76842,STATEN ISLAND,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,49 PITNEY AVENUE,NaN,10309,0,...,4000,1496,1925,OLD,1,B2,PURCHASE,460000,2017,7/5/2017
76843,STATEN ISLAND,WOODROW,22 STORE BUILDINGS,4,7100,28,2730 ARTHUR KILL ROAD,NaN,10309,7,...,208033,64117,2001,NEW,4,K6,PURCHASE,11693337,2016,12/21/2016
76844,STATEN ISLAND,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,155 CLAY PIT ROAD,NaN,10309,1,...,10796,2400,2006,NEW,4,P9,PURCHASE,69300,2016,10/27/2016

In [5]:
new_df = df.sample(n=2000)
new_df = new_df.replace({np.nan: None})
new_df

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,APARTMENT NUMBER,ZIP CODE,COMMERCIAL UNITS,...,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,STAT BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,OWNED BY,SALE PRICE,SALE YEAR,SALE DATE
23112,BROOKLYN,BAY RIDGE,17 CONDO COOPS,2,5891,1003,"7115 3 AVENUE, 2A",None,11209,0,...,0,0,1920,OLD,2,R9,PURCHASE,390000,2016,9/8/2016
2535,MANHATTAN,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,849,1290,260 PARK AVENUE SOUTH,10I,10010,0,...,0,0,1913,OLD,2,R4,PURCHASE,2435000,2017,4/10/2017
55838,QUEENS,HILLCREST,09 COOPS - WALKUP APARTMENTS,2,6715,2,"144-23 CHARTER ROAD, 4A",None,11435,0,...,0,0,1947,OLD,2,C6,INHERIT,0,2017,4/13/2017
13806,MANHATTAN,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1170,1209,2211 BROADWAY,3J,10024,0,...,0,0,1908,OLD,2,R4,INHERIT,0,2016,9/7/2016
15606,MANHATTAN,WASHINGTON HEIGHTS UPPER,10 COOPS - ELEVATOR APARTMENTS,2,2177,234,"340 HAVEN AVENUE, 5E",None,10033,0,...,0,0,1951,OLD,2,D4,PURCHASE,390000,2017,8/8/2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49593,QUEENS,FAR ROCKAWAY,02 TWO FAMILY DWELLINGS,1,15737,26,25-23 OCEAN CREST BLVD,None,11691,0,...,4272,2964,1988,OLD,1,B2,PURCHASE,525000,2017,1/30/2017
48901,QUEENS,ELMHURST,02 TWO FAMILY DWELLINGS,1,2870,36,86-11 57TH ROAD,None,11373,0,...,2000,1984,1920,OLD,1,B2,INHERIT,0,2017,5/18/2017
38828,BROOKLYN,OCEAN PARKWAY-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,6509,13,"930 EAST 7TH STREET, 4-B",None,11230,0,...,0,0,1956,OLD,2,D4,PURCHASE,220000,2016,11/28/2016
34611,BROOKLYN,FLATBUSH-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,4853,28,"310 LENOX ROAD, 2R",None,11226,0,...,0,0,1963,OLD,2,D4,PURCHASE,320000,2017,1/26/2017
23951,BROOKLYN,BEDFORD STUYVESANT,07 RENTALS - WALKUP APARTMENTS,2B,1614,54,767 GREENE AVENUE,None,11221,0,...,7500,5013,1920,OLD,2,C1,INHERIT,0,2017,5/16/2017

In [8]:
col = new_df.columns
print(col)
len(col)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'COMMERCIAL UNITS', 'RESIDENTIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT', 'STAT BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'OWNED BY', 'SALE PRICE', 'SALE YEAR', 'SALE DATE'],
      dtype='object')

22

In [9]:
map_data = new_df.values

In [10]:
temp = []

In [11]:
for i in range(len(map_data)):
    item = {
        col[0]: map_data[i][0],
        col[1]: map_data[i][1],
        col[2]: map_data[i][2],
        col[3]: map_data[i][3],
        col[4]: map_data[i][4],
        col[5]: map_data[i][5],
        col[6]: map_data[i][6],
        col[7]: map_data[i][7],
        col[8]: map_data[i][8],
        col[9]: map_data[i][9],
        col[10]: map_data[i][10],
        col[11]: map_data[i][11],
        col[12]: map_data[i][12],
        col[13]: map_data[i][13],
        col[14]: map_data[i][14],
        col[15]: map_data[i][15],
        col[16]: map_data[i][16],
        col[17]: map_data[i][17],
        col[18]: map_data[i][18],
        col[19]: map_data[i][19],
        col[20]: map_data[i][20],
        col[21]: map_data[i][21],
    }
    temp.append(item)

In [12]:
import json

In [13]:
# Directly from the dictionary
with open('data-tim-12.json', 'w+') as outfile:
    json.dump(temp, outfile)